:root {
    --circle-container-width: 40vw;
    --small-circle-diameter: 18vw;
    --panel-width: 20vw;
    --color-fondo: #333;
    --color-fondo-hover: #555;
    --top-bar-color: #999;
    --top-bar-border-radius: 1vw;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--color-fondo);
    height: 100%;
}

.topBar {
    display: grid;
    place-items: center;
    height: 4vw;
    width: 50vw;
    margin-top: 1vw;
    font-size: 2vw;
    background-color: var(--top-bar-color) ;
    border-top-left-radius: var(--top-bar-border-radius);
    border-top-right-radius: var(--top-bar-border-radius);
    border-bottom-left-radius: var(--top-bar-border-radius);
    border-bottom-right-radius: var(--top-bar-border-radius);    
}

.circleContainer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, var(--panel-width));
    grid-template-rows: repeat(2, var(--panel-width));
    width: var(--circle-container-width);
    margin-top: 3vw;
}

.circuloGrande {
    /* display: inline-table; */
    width: var(--panel-width);
    height: var(--panel-width);
}

.circuloGrande:hover {
    border: 3px solid white;
}

.circuloChico {
    display: grid;
    place-items: center;
    position: fixed;
    color: white;
    font-size: 5vw;    
    width: var(--small-circle-diameter);
    height: var(--small-circle-diameter);
    background-color: var(--color-fondo);
}

.circuloChico:hover {
    background-color: var(--color-fondo-hover);
    border: 3px solid white;
}

.top-right-panel {
    border-top-right-radius: 100%;
    background: red;
}

.top-left-panel {
    border-top-left-radius: 100%;
    background: blue;
}

.bottom-right-panel {
    border-bottom-right-radius: 100%;
    background: green;
}

.bottom-left-panel {
    border-bottom-left-radius: 100%;
    background: yellow;
}