:root {
    /* --column-width: 32vw; */
    --column-width: 16em;
    --column-height: 2em;
    --circle-container-width: 78vmin;
    --small-circle-diameter: 34vmin;
    --panel-width: 39vmin;
    --color-fondo: #333;
    --color-fondo-hover: #555;
    --top-bar-color: #999;
    --top-bar-border-radius: 1vw;
    --font-size-top-bar: 1em;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--color-fondo);
    height: 100%;
}

.topBar {
    display: flex;
    flex-flow: row wrap;
    /* grid-template-columns: repeat(2, var(--column-width)); */
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    /* border: 1px solid red; */
}

.stateCol, .roundCol {
    display: grid;
    place-items: center;
    height: var(--column-height);
    width: var(--column-width);
    font-size: var(--font-size-top-bar);
    background-color: var(--top-bar-color) ;
    border-top-left-radius: var(--top-bar-border-radius);
    border-top-right-radius: var(--top-bar-border-radius);
    border-bottom-left-radius: var(--top-bar-border-radius);
    border-bottom-right-radius: var(--top-bar-border-radius);    
}

.circleContainer {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, var(--panel-width));
    grid-template-rows: repeat(2, var(--panel-width));
    width: var(--circle-container-width);
    margin-top: 4vw;
}

.circuloGrande {
    width: var(--panel-width);
    height: var(--panel-width);
    opacity: 0.5;
    transition: opacity 500ms;
}

.circuloGrande:hover {
    border: 3px solid white;
}

.circuloChico {
    position: absolute;
    top: 50%;          /* Position at the vertical center */
    left: 50%;         /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Offset by half the element's dimensions to truly center */
    color: white;
    font-size: 4vw;    
    width: var(--small-circle-diameter);
    height: var(--small-circle-diameter);
    background-color: var(--color-fondo);
    border-radius: 50%;
    z-index: 1; /* Ensure the button is above the panels */
}

.circuloChico:hover {
    background-color: var(--color-fondo-hover);
    border: 3px solid white;
}

#top-right-panel {
    border-top-right-radius: 100%;
    background: red;
}

#top-left-panel {
    border-top-left-radius: 100%;
    background: blue;
}

#bottom-right-panel {
    border-bottom-right-radius: 100%;
    background: green;
}

#bottom-left-panel {
    border-bottom-left-radius: 100%;
    background: yellow;
}