:root {
    --column-width: 32vw;
    --circle-container-width: 34vw;
    --small-circle-diameter: 15vw;
    --panel-width: 17vw;
    --color-fondo: #333;
    --color-fondo-hover: #555;
    --top-bar-color: #999;
    --top-bar-border-radius: 1vw;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--color-fondo);
    height: 100%;
}

.topBar {
    display: grid;
    grid-template-columns: repeat(2, var(--column-width));
    gap: 1vw;
}

.stateCol, .roundCol {
    display: grid;
    place-items: center;
    height: 4vw;
    width: var(--column-width);
    margin-top: 1vw;
    font-size: 2vw;
    background-color: var(--top-bar-color) ;
    border-top-left-radius: var(--top-bar-border-radius);
    border-top-right-radius: var(--top-bar-border-radius);
    border-bottom-left-radius: var(--top-bar-border-radius);
    border-bottom-right-radius: var(--top-bar-border-radius);    
}

.circleContainer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, var(--panel-width));
    grid-template-rows: repeat(2, var(--panel-width));
    width: var(--circle-container-width);
    margin-top: 4vw;
}

.circuloGrande {
    width: var(--panel-width);
    height: var(--panel-width);
    opacity: 0.5;
    transition: opacity 500ms;
}

.circuloGrande:hover {
    border: 3px solid white;
}

.circuloChico {
    display: grid;
    place-items: center;
    position: absolute;
    color: white;
    font-size: 4vw;    
    width: var(--small-circle-diameter);
    height: var(--small-circle-diameter);
    background-color: var(--color-fondo);
}

.circuloChico:hover {
    background-color: var(--color-fondo-hover);
    border: 3px solid white;
}

#top-right-panel {
    border-top-right-radius: 100%;
    background: red;
}

#top-left-panel {
    border-top-left-radius: 100%;
    background: blue;
}

#bottom-right-panel {
    border-bottom-right-radius: 100%;
    background: green;
}

#bottom-left-panel {
    border-bottom-left-radius: 100%;
    background: yellow;
}